---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import BrandLink from '../components/BrandLink.astro';
import json from '../database.json';
---

<Layout title="DREDGE Mods">
	<main>
        <p>There are {json.length} mods available.</p>

		<div>
			{json.sort().map(x => 
                <div>
                    <a href={"/mods/" + x.name.toLowerCase().trim().split(" ").join("_")}><Title title={x.name} /></a>

                    <div class="d-flex flex-column justify-content-center text-center">
                        <div>
                            <p>{x.description}</p>
                            <p><i>By {x.author}, {x.downloads} downloads, version {x.latest_version}</i></p>   
                        </div>
                        <div>
                            <BrandLink class="fa-github" name={x.name + " on GitHub"} url={"https://www.github.com/" + x.repo} linkClass="link-light" />
                        </div>
                    </div>

                    <br/>
                </div>
			)}
		</div>

	</main>
</Layout>


